header h1 a{
	color: #EEB3C6;
	border:3px solid MediumSeaGreen;
	height:50px;
	width:400px;
	margin-left: 450px;
	font-size:30px;
	position: center;
}

.titulo{


}
.nav-right
{
	color: blue;
}
.eee{
	color: green;
	border:3px solid MediumSeaGreen;
	height:50px;
	width:400px;
	margin-left: 450px;
	font-size:30px;
	position: center;
}
body
{
	background: #EEB3C6;
}